/* SECTION Fonts */
@font-face {
	font-family: "Chicago";
	src: url("./fonts/chicago.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Geneva";
	src: url("./fonts/geneva-9.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/* !SECTION Fonts */

/* SECTION Color Pallete */
:root {
	--primary-color: #000000;
	--secondary-color: #dddddd;
	--bg1-color: #caff32;
	--bg2-color: #ffce2c;
	--bg3-color: #636398;
	--bg4-color: #dddddd;
	--success-color: #28a745;
	--info-color: #17a2b8;
	--warning-color: #ffc107;
	--danger-color: #dc3545;
}
/* !SECTION Color Pallete */

/* SECTION Structural */
flex {
	display: flex;
}

html {
	box-sizing: border-box;
	font-size: 22px;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	margin: 0px;
	font-family: "Geneva", sans-serif;
	color: var(--primary-color);
}

h1 {
	font-family: "Chicago", sans-serif;
	font-size: 2rem;
	color: var(--primary-color);
}

h2 {
	font-family: "Chicago", sans-serif;
	font-size: 1rem;
	color: var(--primary-color);
}

p {
	line-height: 0.8rem;
}

a {
	text-decoration: none; /* Removes underline from links */
	color: inherit; /* Inherits the color from the parent element */
	font-family: "Chicago"; /* Inherits the font-family from the parent element */
	font-size: 1rem;
}

.grid-item h2, .grid-item p{
	margin: 0.3rem;
	text-align: start;
}

.grid-item img{
	margin: 0.3rem;
	text-align: start;
}

.flexbox-rectangle p{
	text-align: start;
	padding: 0.7rem;
	margin: 0;
}

/* !SECTION Structural */

/* SECTION Features */
.fixed-right {
	display: block;
	position: fixed;
	top: 4%; /* Aligns the top of the nav with the top of the viewport */
	right: 8%; /* Aligns the nav to the left side of the viewport */
	overflow-y: auto; /* Adds scroll to nav if content overflows */
	text-align: end;
}

.align-vertically-horizontally-center {
	display: flex;
	flex-direction: column; /* Stack items vertically. Remove or change to 'row' if you want a horizontal layout */
	justify-content: center; /* Centers items vertically in the container */
	align-items: center; /* Centers items horizontally if 'flex-direction' is 'column' */
}

.align-horizontally-center {
	display: flex;
	flex-direction: column; /* Stack items vertically. Remove or change to 'row' if you want a horizontal layout */
	align-items: center; /* Centers items horizontally if 'flex-direction' is 'column' */
}

.flexbox-rectangle {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 5%;
}

.hidden {
	display: none;
}

.air-top-20 {
	margin-top: 20%;
}

.air-top-10 {
	margin-top: 10%;
}

.air-top-5 {
	margin-top: 5%;
}

.p-1 {
	padding: 5%;
}

.m-1 {
	margin: 10%;
}

.btn-no-decoration {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
/* !SECTION Features */

/* SECTION Home Screen */
#homeHeader {
	background-color: var(--bg1-color);
	text-align: center;
	height: 100vh;
}

nav ul {
	margin: 0;
}

#mainNav {
	background-color: var(--bg4-color);
	padding: 1rem;
}

#mainNav a {
	display: block;
}

#mainNav li {
	border: none;
	list-style-type: none; /* This removes bullet points */
}

.nav-border {
	border: 2px solid var(--primary-color);
	border-bottom: 4px solid var(--primary-color);
	border-right: 4px solid var(--primary-color);
}
/* !SECTION Home Screen */

/* SECTION Wacky Pencil Screen */
#wackyPencil {
	background-color: var(--bg2-color);
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: 25% auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"tool-icon tool-title"
		"tool-icon tool-description";
}

.item-a {
	grid-area: tool-icon;
}
.item-b {
	grid-area: tool-title;
	align-self: start; /* Aligns the content to the top of the grid area */
}
.item-c {
	grid-area: tool-description;
}
/* !SECTION Wacky Pencil Screen */

/* SECTION Media queries */
/* ANCHOR Extra Large (>=1200px) */
@media (min-width: 1200px) {
	.col-xl-12 {
		width: 100%;
	}

	.col-xl-11 {
		width: 91.66666667%;
	}

	.col-xl-10 {
		width: 83.33333334%;
	}

	.col-xl-9 {
		width: 75%;
	}

	.col-xl-8 {
		width: 66.66666667%;
	}

	.col-xl-7 {
		width: 58.33333334%;
	}

	.col-xl-6 {
		width: 50%;
	}

	.col-xl-5 {
		width: 41.66666667%;
	}

	.col-xl-4 {
		width: 33.33333334%;
	}

	.col-xl-3 {
		width: 25%;
	}

	.col-xl-2 {
		width: 16.66666667%;
	}

	.col-xl-1 {
		width: 8.33333333%;
	}
}

/* ANCHOR Large (>=992px) */
@media (min-width: 992px) and (max-width: 1199px) {
	.col-lg-12 {
		width: 100%;
	}

	.col-lg-11 {
		width: 91.66666667%;
	}

	.col-lg-10 {
		width: 83.33333334%;
	}

	.col-lg-9 {
		width: 75%;
	}

	.col-lg-8 {
		width: 66.66666667%;
	}

	.col-lg-7 {
		width: 58.33333334%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-5 {
		width: 41.66666667%;
	}

	.col-lg-4 {
		width: 33.33333334%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-2 {
		width: 16.66666667%;
	}

	.col-lg-1 {
		width: 8.33333333%;
	}
}

/* ANCHOR Medium (>=768px) */
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-12 {
		width: 100%;
	}

	.col-md-11 {
		width: 91.66666667%;
	}

	.col-md-10 {
		width: 83.33333334%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-8 {
		width: 66.66666667%;
	}

	.col-md-7 {
		width: 58.33333334%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-5 {
		width: 41.66666667%;
	}

	.col-md-4 {
		width: 33.33333334%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-2 {
		width: 16.66666667%;
	}

	.col-md-1 {
		width: 8.33333333%;
	}
}

/* ANCHOR Small (>=576px) */
@media (min-width: 576px) and (max-width: 767px) {
	.col-sm-12 {
		width: 100%;
	}

	.col-sm-11 {
		width: 91.66666667%;
	}

	.col-sm-10 {
		width: 83.33333334%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-8 {
		width: 66.66666667%;
	}

	.col-sm-7 {
		width: 58.33333334%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-5 {
		width: 41.66666667%;
	}

	.col-sm-4 {
		width: 33.33333334%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-2 {
		width: 16.66666667%;
	}

	.col-sm-1 {
		width: 8.33333333%;
	}
}

/* ANCHOR Extra Small (<576px) */
@media (max-width: 575px) {
	.col-xs-12 {
		width: 100%;
	}

	.col-xs-11 {
		width: 91.66666667%;
	}

	.col-xs-10 {
		width: 83.33333334%;
	}

	.col-xs-9 {
		width: 75%;
	}

	.col-xs-8 {
		width: 66.66666667%;
	}

	.col-xs-7 {
		width: 58.33333334%;
	}

	.col-xs-6 {
		width: 50%;
	}

	.col-xs-5 {
		width: 41.66666667%;
	}

	.col-xs-4 {
		width: 33.33333334%;
	}

	.col-xs-3 {
		width: 25%;
	}

	.col-xs-2 {
		width: 16.66666667%;
	}

	.col-xs-1 {
		width: 8.33333333%;
	}
}
/* !SECTION Media queries */
