<h1>`django-admin` subcommands</h1>
<h3>How to get the description?</h3>
<p>`django-admin help [subcommand]`</p>
<h3>makemigrations</h3>
<p>Creates new migration(s) for apps.</p>
<h3>migrate</h3>
<p></p>
<h3>shell</h3>
<p>Runs a Python interactive interpreter. Tries to use IPython or bpython, if one of them is available. Any standard input is executed as code.</p>
<h3>dbshell</h3>
<p></p>
<h3>showmigrations</h3>
<p></p>
<h3>dumpdata</h3>
<p></p>
<h3>test</h3>
<p></p>
<h3>testserver</h3>
<p></p>
<h3>diffsettings</h3>
<p>Displays differences between the current settings.py and Django's default settings.</p>
