/* SECTION Fonts */
@font-face {
	font-family: "Causten Round", sans-serif;
	src: url("./fonts/causten-round-bold.otf") format("opentype");
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: "Roboto", sans-serif;
	src: url("./fonts/roboto-regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
/* !SECTION Fonts */

/* SECTION Color Pallete */
:root {
	--primary-color: #03256c;
	--secondary-color: #dddddd;
	--bg1-color: #ffd056;
	--bg2-color: #ffb72b;
	--em1-color: #03e4ac;
	--em2-color: #fe4d2b;
	--em3-color: #f37eb2;
	--em4-color: #4d55f5;
	--success-color: #28a745;
	--info-color: #17a2b8;
	--warning-color: #ffc107;
	--danger-color: #dc3545;
	--hover-bg-color: white;
}
/* !SECTION Color Pallete */

/* SECTION CSS variables for common values */
:root {
	--padding-small: 0.8rem;
	--padding-large: 2rem;
	--margin-small: 0.8rem;
	--top-space-small: 5%;
	--top-space-medium: 10%;
	--top-space-large: 20%;
}
/* !SECTION CSS variables for common values */

/* SECTION Structural */
html {
	box-sizing: border-box;
	font-size: 20px;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	margin: 0px;
	font-family: "Roboto";
	color: var(--primary-color);
	background-color: var(--bg1-color);
}

div {
	/* border: 1px solid black; */
}

.card hr {
	border: 2px solid var(--primary-color);
	border-radius: 3px;
	opacity: 0.5;
}

hr {
	border: 5px dashed var(--primary-color);
	border-radius: 3px;
	opacity: 1;
}

.btn:hover {
	background-color: var(--hover-bg-color);
}

h1 {
	font-family: "Causten Round";
	font-size: 4.6rem;
	color: var(--primary-color);
	line-height: 4.5rem;
	white-space: wrap;
}

h2 {
	font-family: "Causten Round";
	font-size: 3.4rem;
	color: var(--primary-color);
	line-height: 3rem;
	white-space: wrap;
}

h3 {
	font-family: "Causten Round";
	font-size: 2rem;
	color: var(--primary-color);
	line-height: 2.2rem;
	white-space: wrap;
}

h4 {
	font-family: "Causten Round";
	font-size: 1.5rem;
	color: var(--primary-color);
	line-height: 1.5rem;
	white-space: wrap;
	overflow: scroll;
}

#contactFormMessageInput,
#contactFormEmailInput {
	font-family: "Causten Round";
	font-size: 1.6rem;
	color: var(--primary-color);
	line-height: 2.2rem;
	white-space: wrap;
}

textarea::placeholder {
	font-family: "Causten Round";
	font-size: 1.6rem;
	color: var(--primary-color);
	line-height: 2.2rem;
	white-space: wrap;
}

.bordered-body-font {
	font-family: "Causten Round";
	font-size: 2.3rem;
	color: var(--bg2-color);
	line-height: 1rem;
	text-shadow: -1px -1px 0 #03256c, 4px -1px 0 #03256c, -1px 1px 0 #03256c,
		1px 1px 0 #03256c;
}

span {
	font-family: "Causten Round";
	font-size: 1.3rem;
	color: var(--bg2-color);
	line-height: 1rem;
	text-shadow: -1px -1px 0 #03256c, 4px -1px 0 #03256c, -1px 1px 0 #03256c,
		1px 1px 0 #03256c;
}

.card .img-fluid {
	height: 100%;
	width: auto;
	object-fit: cover; /* Ensures the image covers the container without overflow */
}

.h-33 {
	height: 33.33vh;
}

.h-45 {
	height: 45vh;
}

.air-gap-small {
	margin-top: var(--top-space-small);
}

.air-gap-medium {
	margin-top: var(--top-space-medium);
}

.air-gap-large {
	margin-top: var(--top-space-large);
}

.wrap-text {
	white-space: normal; /* Ensure text can wrap */
	word-wrap: break-word; /* Break long words if necessary */
}

.bg-color-em1 {
	background-color: var(--em1-color);
}

.bg-color-em2 {
	background-color: var(--em2-color);
}

.bg-color-em3 {
	background-color: var(--em3-color);
}

.bg-color-em4 {
	background-color: var(--em4-color);
}

.custom-btn {
	overflow: scroll;
}

.overflow-scroll {
	overflow: scroll;
}

/* !SECTION Structural */

/* SECTION Hero */

.avatar {
	position: absolute;
	top: 100;
	z-index: 1;
	width: 200px;
	/* border: 1px solid black; */
}

.circle-1 {
	width: 200px;
	height: 200px;
	background-color: var(--em2-color);
	clip-path: circle();
}
/* !SECTION Hero */

/* SECTION Projects */
.project-number {
	font-size: 2.6rem;
}

.project-card-img {
	border: 2.5px solid var(--primary-color);
	border-radius: 12px;
}

.project-card-description {
	border: 2.5px solid var(--primary-color);
	border-radius: 12px;
	box-shadow: 8px 10px var(--primary-color);
}
/* !SECTION Projects */

/* SECTION Skills */
.skill-card {
	border: 2.5px solid var(--primary-color);
	border-radius: 32px;
}

.circle-3 {
	clip-path: circle();
	position: relative; /* Add this */
}

.circle-3::before {
	content: "";
	position: absolute;
	top: -2.5px; /* Adjust based on border width */
	left: -2.5px; /* Adjust based on border width */
	width: calc(100% + 5.5px); /* Adjust based on border width */
	height: calc(100% + 5.5px); /* Adjust based on border width */
	border: 5.5px solid var(--primary-color); /* Example color */
	border-radius: 50%; /* Make it circular */
	box-sizing: border-box; /* Ensure the border is included in the size */
}
/* !SECTION Skills */

/* SECTION Contact */
.contact-card {
	border: 2.5px solid var(--primary-color);
	border-radius: 12px;
	box-shadow: 8px 10px var(--primary-color);
}

.error {
	color: var(--bg2-color);
}

.success {
	color: var(--em1-color);
}
/* !SECTION Contact */

/* SECTION Footer */
.footer-img {
	width: 75px;
	height: 75px;
}
/* !SECTION Footer */

/* SECTION Animations */
@keyframes zoomIn {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}

@keyframes zoomInOut {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}

@keyframes moveUpDown {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

@keyframes scaleRotate {
	0% {
		transform: scale(1.5) rotate(10deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}

.avatar {
	animation: moveUpDown 2s infinite;
}

.project-card-img {
	opacity: 0;
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.project-card-img.in-view {
	animation: zoomIn 0.5s forwards;
	opacity: 1;
}

.project-link {
	animation: zoomInOut 5s infinite;
	transform-origin: left;
}

.skills-tabs {
	opacity: 0;
}

.skills-tabs.in-view {
	animation: scaleRotate 1s;
	opacity: 1;
}

.rrss-link {
	transition: transform 0.3s ease-in-out;
}

.rrss-link:hover {
	transform: scale(1.4);
}

#sendContactFormBtn {
	animation: zoomInOut 5s infinite;
}

/* !SECTION Animations */
